<div class="span6">
	<h2 class="dashHead"><i class="icon-road"></i> Dealerships:</h2>
	<div class="dashWidget noPadding">
		<div class="projectBox">
			<img alt="dealership icon"  src="img/Project-Icon.png" />
			<h4>Build Web App Template </h4><div><strong>15 Tasks</strong> Due: Oct. 20th 2012</div>
			<div class="progress progress-small">
				 <div class="bar" style="width: 80%;"></div>
			</div>
		</div>
		<div class="projectBox">
			<img alt="project icon" src="img/Project-Icon.png" />
			<h4>Payment System Integration </h4><div><strong>33 Tasks</strong> Due: Jan. 7th 2013</div>
			<div class="progress progress-info progress-small">
				 <div class="bar" style="width: 40%;"></div>
			</div>
		</div>
		<div class="projectBox">
			<img alt="project icon" src="img/Project-Icon.png" />
			<h4>Redesign Client Site </h4><div><strong>10 Tasks</strong> Due: Nov. 1st 2012</div>
			<div class="progress progress-danger progress-small">
				 <div class="bar" style="width: 75%;"></div>
			</div>
		</div>
		<div class="projectBox">
			<img alt="project icon" src="img/Project-Icon.png" />
			<h4>Web Application Development </h4><div><strong>4 Tasks</strong> Due: Sept. 21st 2012</div>
			<div class="progress progress-small">
				 <div class="bar" style="width: 90%;"></div>
			</div>
		</div>
		<div class="projectBox">
			<img alt="project icon" src="img/Project-Icon.png" />
			<h4>Newsletter Template Design </h4><div><strong>27 Tasks</strong> Due: June. 17th 2013</div>
			<div class="progress progress-small">
				 <div class="bar" style="width: 70%;"></div>
			</div>
		</div>
		<div class="projectBox">
			<img alt="project icon" src="img/Project-Icon.png" />
			<h4>Update Clarity Theme </h4><div><strong>7 Tasks</strong> Due: August. 30th 2012</div>
			<div class="progress progress-info progress-small">
				 <div class="bar" style="width: 70%;"></div>
			</div>
		</div>
		<div class="projectBox">
			<img alt="project icon" src="img/Project-Icon.png" />
			<h4>Update All Themes </h4><div><strong>7 Tasks</strong> Due: August. 26th 2012</div>
			<div class="progress progress-small">
				 <div class="bar" style="width: 80%;"></div>
			</div>
		</div>
	</div>
</div>
